.ant-card {
  max-width: 450px !important;
  height: 300px !important;
  margin: 0;
  padding: 0 !important;
  border-radius: 0 !important;
  box-shadow: 0px 4px 12px 0px #00000026;
}
@media screen and (max-width: 499px) {
  .ant-card {
    max-width: 100%;
    width: 100%;
  }
}
