@media screen and (max-width: 499px) {
  .ant-rate {
    margin-left: auto;
    padding-right: 30px;
  }
}
@media screen and (max-width: 360px) {
  .ant-rate {
    width: 100% !important;
    padding-right: 10px;
  }
}
@media screen and (max-width: 330px) {
  .ant-rate {
    width: 240px !important;
    margin-left: 0;
  }
}
