.card__description {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  height: 110px;
  width: 228px;
  padding-right: 20px;
}
@media screen and (max-width: 499px) {
  .card__description {
    width: 390px;
    margin-left: -70px;
  }
}
@media screen and (max-width: 400px) {
  .card__description {
    width: 340px;
    margin-left: -70px;
  }
}
@media screen and (max-width: 360px) {
  .card__description {
    width: 300px;
    margin-left: -70px;
  }
}
@media screen and (max-width: 330px) {
  .card__description {
    width: 270px;
    margin-left: -70px;
  }
}
